/.metadata/
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

**/node_modules/

# Eclipse
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Spring Boot - application configuration
application.properties
application.yml
application-*.properties
application-*.yml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db